
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/arm64-v8a/libxamarin-app.so
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/arm64-v8a/libxamarin-app.so
Airlink/Airlink.Android/Airlink.Android.csproj
Airlink/Airlink.Android/bin/Debug/Airlink.Android.dll
Airlink/Airlink.Android/bin/Debug/Airlink.Android.pdb
Airlink/Airlink.Android/bin/Debug/Airlink.dll
Airlink/Airlink.Android/bin/Debug/Airlink.pdb
Airlink/Airlink.Android/bin/Debug/com.companyname.airlink-Signed.apk
*.dll
*.pdb
*.zip
*.dex
*.apk
.vs/Airlink/xs/UserPrefs.xml
Airlink/Airlink.Android/Airlink.Android.csproj
Airlink/Airlink.Android/bin/Debug/Airlink.Android.dll
Airlink/Airlink.Android/bin/Debug/Airlink.Android.pdb
Airlink/Airlink.Android/bin/Debug/Airlink.dll
Airlink/Airlink.Android/bin/Debug/Airlink.pdb
Airlink/Airlink.Android/bin/Debug/com.companyname.airlink-Signed.apk
Airlink/Airlink.Android/obj/Debug/Airlink.Android.csproj.FileListAbsolute.txt
Airlink/Airlink.Android/obj/Debug/Airlink.Android.dll
Airlink/Airlink.Android/obj/Debug/Airlink.Android.pdb
Airlink/Airlink.Android/obj/Debug/android/assets/Airlink.Android.dll
Airlink/Airlink.Android/obj/Debug/android/assets/Airlink.Android.pdb
Airlink/Airlink.Android/obj/Debug/android/assets/Airlink.dll
Airlink/Airlink.Android/obj/Debug/android/assets/Airlink.pdb
Airlink/Airlink.Android/obj/Debug/android/bin/classes.dex
Airlink/Airlink.Android/obj/Debug/android/bin/classes.zip
Airlink/Airlink.Android/obj/Debug/android/bin/com.companyname.airlink.apk
Airlink/Airlink.Android/obj/Debug/android/compressed_assemblies.x86.o
Airlink/Airlink.Android/obj/Debug/android/compressed_assemblies.x86.s
Airlink/Airlink.Android/obj/Debug/android/compressed_assemblies.x86_64.o
Airlink/Airlink.Android/obj/Debug/android/compressed_assemblies.x86_64.s
Airlink/Airlink.Android/obj/Debug/android/environment.arm64-v8a.o
Airlink/Airlink.Android/obj/Debug/android/environment.arm64-v8a.s
Airlink/Airlink.Android/obj/Debug/android/environment.armeabi-v7a.o
Airlink/Airlink.Android/obj/Debug/android/environment.armeabi-v7a.s
Airlink/Airlink.Android/obj/Debug/android/environment.x86.o
Airlink/Airlink.Android/obj/Debug/android/environment.x86.s
Airlink/Airlink.Android/obj/Debug/android/environment.x86_64.o
Airlink/Airlink.Android/obj/Debug/android/environment.x86_64.s
Airlink/Airlink.Android/obj/Debug/android/typemaps.x86.o
Airlink/Airlink.Android/obj/Debug/android/typemaps.x86.s
Airlink/Airlink.Android/obj/Debug/android/typemaps.x86_64.o
Airlink/Airlink.Android/obj/Debug/android/typemaps.x86_64.s
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/arm64-v8a/libxamarin-app.so
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/armeabi-v7a/libxamarin-app.so
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/x86/libxamarin-app.so
Airlink/Airlink.Android/obj/Debug/app_shared_libraries/x86_64/libxamarin-app.so
Airlink/Airlink.Android/obj/Debug/build.props
Airlink/Airlink.Android/obj/Debug/buildid.txt
Airlink/Airlink.Android/obj/Debug/designtime/build.props
Airlink/Airlink.iOS/obj/iPhone/Debug/Airlink.iOS.csproj.AssemblyReference.cache
Airlink/Airlink/bin/Debug/netstandard2.0/Airlink.dll
Airlink/Airlink/bin/Debug/netstandard2.0/Airlink.pdb
Airlink/Airlink/bin/Debug/netstandard2.0/ref/Airlink.dll
Airlink/Airlink/obj/Debug/netstandard2.0/Airlink.dll
Airlink/Airlink/obj/Debug/netstandard2.0/Airlink.pdb
Airlink/Airlink/obj/Debug/netstandard2.0/ref/Airlink.dll
Airlink/Airlink.Android/obj/Debug/110/android/bin/com.companyname.airlink.apk
.DS_Store
Airlink/.DS_Store
Airlink/Airlink.Android/.DS_Store
Airlink/Airlink.Android/obj/.DS_Store
Airlink/Airlink.Android/obj/Debug/.DS_Store
Airlink/Airlink.Android/obj/Debug/110/.DS_Store
Airlink/Airlink.Android/obj/Release/110/.DS_Store
